/node_modules
/files/public/hot
#/files/public/storage
/files/storage/*.key
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
#.env.example
#composer.lock
composer.lock
.env.example
